body{
    background-color: #513675;
}


.NoChildren button.accordion-button::after{
   display: none;
}


.Header{
    height: 80px;
    color: #FCEAFF
    ;
    padding: 5px;
    text-align: center;
}


.Sidebar{
    padding:0 5px 0 5px;
    width: 30%;
}

.Main{
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    padding:10px;
    background-color: #8466AA;
    color: #FCEAFF
    ;
    width: 100%;
}

.PageWrapper{

    width: 99vh;
    height:78vh;
    display: flex;
}

.Footer{
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    background-color: #8466AA;
    padding: 10px;
    margin: 5px;
    color: #FCEAFF    ;
    width: 20%;
}